<nav class="navbar">
  <img class="logo" src="/images/logo.png" width="10%" />
  <ul class="menu-course">
    <li><a href="/user/{{data.user_id}}">Retornar</a></li>
    <li><a href="/logut">LogOut</a></li>
  </ul>
</nav>

<div class="course-page">
    <div id="texts-bottom">
      <h2><span>Nome do Curso: {{data.courseDetalhes.name}}</span> </h2>
      <p>Descrição: {{data.courseDetalhes.description}}</p>
      <p>CATEGORIA: {{data.courseDetalhes.category.name}} - {{data.courseDetalhes.category.content.content_name}} </p>
      <h3>Professor: {{data.courseDetalhes.user.name}}</h3>
      <br>
      <h4> Número de aulas: {{data.courseDetalhes.classes}}</h4>
      <p> Dias e Horarios Disponíveis: {{data.courseDetalhes.WeekAvailability}} - {{data.courseDetalhes.HourAvailability}}</p>
    </div>


    <div id="date-course">
        <form action="/signcourse/{{data.courseDetalhes._id}}/{{data.courseDetalhes.user._id}}" method="POST">
    {{#each data.classesArray}}
     <label for="input-date{{this}}">Escolha data para {{this}}° aula do curso:</label>
    <input type="date" id="input-date{{this}}" name="date{{this}}"/>
      {{/each}}
      <button type="button" type="submit" class="btn btn-secondary">INSCREVER-SE NO CURSO</button>
  </form>
    </div>
   
</div>





  <p>
  <div class="course-details">
    <h2>Quer Enviar uma Mensagem ao Professor?</h2>
        <form class="form-msg" action="/sendmessage/{{user._id}}" method="POST">

            <label for="mensagem-input" class="form-label"></label>
            <textarea class="form-control" name="mensagem" id="mensagem-input" rows="5"></textarea>
    

          <button type="submit">Enviar Mensagem</button>
        </form>
    </div>