<h2>Pagina de Detalhes de um Curso especifico</h2>
<p>
Nome do Curso:  {{name}}
<br>
Descrição: {{description}}
<br>
Professor: {{user.name}}
</p>
<BR>
CATEGORIA: {{this.category.name}} - {{this.category.content}}

<p>
    Número de aulas: {{classes}}
    <br>
    Dias e Horarios Disponíveis: {{WeekAvailability}} - {{HourAvailability}}
</p>
