<nav class="navbar menu-search-course">
    <div class="menu-course"  id='button-search-course'>
        
            <a href="/user/{{data.user_id}}">
             <button class="btn btn-lg disabled button-signUp button-search-courses" >   Retornar</button> 
            </a>
    </div>
    <img class="logo logo-search-course" style="border-color: black; solid;  1px;"  src="/images/logo.png" width="auto" height="100px;" />
    
</nav>


<div class="courses-details-main">
    <h3 class="h3-edit-page"> 
        Cursos disponíveis   </h3>
    <div class="course-details available-courses">
        <div class="row">
            {{#each data.coursesF}}
            <ul>
                <li>
                    <div class="li-search-courses">
                        <img src="/images/lecture.jpg" alt="curso" width="auto" height="70px" />
                        <h5>
                            {{this.name}}
                        </h5>
                    </div>
                    <div class="li-search-courses-list-p"> 
                    <p>
                        Breve Descrição:
                        {{this.description}}
                    </p>
                    <p>
                        Professor:
                        {{this.user.name}}
                    </p>
                    <p>
                        Categoria:
                        {{this.category.name}}
                    </p>
                    </div>
                  <a  href="/courses-details/{{this._id}}">
                         <button class="btn btn-lg  disabled button-signUp button-adicionar-curso"> Saber Mais </button>
                    </a>
                </li>
            </ul>
            {{/each}}
        </div>
    </div>
</div>