<script src="/public/javascripts/"></script>


{{!-- Menu com login --}}

<nav class="navbar navbar-expand-lg navbar-light bg-light menu-login">
  <div class="container-fluid">
    <a class="navbar-brand logotipo" href="#">FreeStudents</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ul-mainPage">

        <li class="nav-item li-mainPageHowToWork">
          <a class="nav-link" href="#comofunciona">Como funciona?</a>
        </li>

        {{!-- login --}}

      </ul>
      <div class='form-menu'>
        <label class='label-login form-label' for="exampleInputEmail1">Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        <label class='label-login form-label' for="exampleInputPassword1">Senha</label>
        <input type="password" class="form-control" id="exampleInputPassword1">

        <button type="button" class="btn btn-warning button-login">Login</button>

      </div>

    </div>
  </div>
</nav>


<h1 class="h1-signUp"> SignUp </h1>

<p class="p-signUp"> Para realizar o cadastro, precisamos de algumas informações sobre você! Preencha as informações
  abaixo:</p>

<div class="formulario" id="form1-signUp">

  {{!-- formulário 0 --}}

  {{#if errorMessage}}
  <p class="error">{{errorMessage}} </p>
  {{/if}}

  <form id="signup-form" action="/signup" method="POST">

    <label for="input-completeName" class="required label">Nome completo</label>
    <input class="form-control" id="input-completeName" type="text" name="name" placeholder="Insira seu Nome completo"
      aria-label="default input example">

    <label for="input-email" class="required label label">E-mail</label>
    <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">


    <label for="exampleInputPassword1" class="form-label required label">Senha</label>
    <input type="password" class="form-control" name="password" id="exampleInputPassword1" placeholder="********">


    <label for="exampleInputPassword1" class="form-label required label">Confirme a senha</label>
    <input type="password" class="form-control" name="confirmedPassword" id="exampleInputPassword1"
      placeholder="********">


    <label for="input-email" class="required label">Telefone</label>
    <input type="tel" class="form-control" id="input-telefone" name="telefone" id="exampleFormControlInput1"
      placeholder="(xx)xxxx-xxxx">

    <h4 class="h4-signUp label">Selecione seu estado</h4>
    <select name="state" class="custom-select subtitulo-signUp">
      <option value="0">Selecione</option>
      <option value="1">AC</option>
      <option value="2">AL</option>
      <option value="3">AP</option>
      <option value="4">AM</option>
      <option value="5">BA</option>
      <option value="6">CE</option>
      <option value="7">ES</option>
      <option value="8">GO</option>
      <option value="9">MA</option>
      <option value="10">MT</option>
      <option value="11">MS</option>
      <option value="12">MG</option>
      <option value="13">PA</option>
      <option value="14">PB</option>
      <option value="15">PR</option>
      <option value="16">PE</option>
      <option value="17">PI</option>
      <option value="18">RJ</option>
      <option value="19">RN</option>
      <option value="20">RS</option>
      <option value="21">RO</option>
      <option value="22">RR</option>
      <option value="23">SC</option>
      <option value="24">SP</option>
      <option value="25">SE</option>
      <option value="26">TO</option>
      <option value="26">DF</option>
    </select>

    <label for="input-completeName" class="label">Cidade</label>
    <input class="form-control" id="input-city" type="text" name="city" placeholder="Insira sua cidade"
      aria-label="default input example">


    <label for="input-city" class="required label">Data de nascimento</label>
    <input type="date" id="input-birthdate" style=" border-radius: 5px; border-color: gray;" name="birthdate"
      placeholder="Insira sua data de nascimento" />


    <h4 class="h4-signUp label" name="how_got_to_us">Como ficou sabendo da FreeStudents?</h4>
    <select class="custom-select subtitulo-signUp">
      <option value="0">Selecione uma opção</option>
      <option value="1">Amigos</option>
      <option value="2">Redes Sociais</option>
      <option value="3">Google</option>

      <label "input-outros label">Outros meios</label>
      <input class="form-control" id="input-outros" type="text" name="how_got_to_us" placeholder="Insira o outro meio"
        aria-label="default input example">



    </select>

    <label for="input-skypeUsername " class="label">Skype Username</label>
    <input class="form-control" id="input-skype" type="text" name="skype_username"
      placeholder="Insira seu skype username" aria-label="default input example">


    <label for="input-zoomUsername" class="label">Zoom Username</label>
    <input class="form-control" type="text" id="input-zoom" name="zoom_username" placeholder="Insira seu zoom username"
      aria-label="default input example">

    <label for="input-teamsUsername " class="label">Teams Username</label>
    <input class="form-control" type="text" id="input-teams" name="teams_username"
      placeholder="Insira seu teams username" aria-label="default input example">

    <label for="input-outrasPlataformas" class="label">Outras plataformas</label>
    <input class="form-control" type="text" id="input-outrasPlataformas" name="outrasPlataformas"
      placeholder="Insira o nome da plataforma" aria-label="default input example">

    <label for="input-teamsUsername" class="label">Username da plataforma</label>
    <input class="form-control" type="text" id="input-teams" name="other_com_username"
      placeholder="Insira o username da plataforma" aria-label="default input example">

    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label required label">Fale um pouco sobre você:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <label for="img" class="form-label required label">Selecione uma imagem de perfil</label>
    <input type="file" class="form-control" id="inputGroupFile02">

    <div class="subtitulo-signUp">
      <h3 class="h3-signUp required"> O que você quer fazer na FreeStudents? </h3>
      <h4 class="h4-signUp"> Lembrando que você pode selecionar os dois! ;)</h4>
    </div>

    <div class="checkbox">
      <button onclick="queroAprenderForm()" class="btn btn-lg  disabled button-signUp" tabindex="-1" role="button"
        aria-disabled="true" type="button">Quero aprender</button>

      <button onclick="queroEnsinarForm()" class="btn btn-lg disabled button-signUp" tabindex="-1" role="button"
        aria-disabled="true" type="button">Quero Ensinar</button>

      {{!-- formulário 1 --}}

      <div id='formQueroAprender' style="display: none">

        <h4 class="h4-signUp required label"> O que você quer aprender? Veja as opções:</h4>

        <select class="custom-select subtitulo-signUp" onChange="categorySelected()" name='interests'
          id="interests-input">
          <option value="0">Selecione a categoria:</option>
          {{#each data.foundCategories}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>

        <select name="student_content" class="custom-select subtitulo-signUp">

          <option value="0">Selecione o conteúdo:</option>
          {{#each data.foundContents}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
      </div>

      {{!-- formulário 2 --}}

      <div id='formQueroEnsinar' style="display: none">
        <h4 class="h4-signUp required label"> Você quer dar aula do quê? Veja as opções:</h4>
        <select name="teacher_category" class="custom-select subtitulo-signUp">
          <option value="0" class="required">Selecione a categoria:</option>
          {{#each data.foundCategories}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>

        <select name="teacher_content" class="custom-select subtitulo-signUp">
          <option value="0">Selecione o conteúdo:</option>
          {{#each data.foundCategories}}
          <option value="{{this.content.0.content_name}}">{{this.content.0.content_name}}</option>
          {{/each}}
        </select>

        <label for="input-about" class="required label">Título do seu curso </label>
        <input class="form-control" type="text" id="input-about" name="title_course" placeholder="Insira o título aqui"
          aria-label="default input example">


        <label for="input-about" class="required label">Escolha os dias e períodos que você deseja: </label>

        <label for="input-about" class="label">Agenda</label>
      
        <div class="margem-agenda">
          <div class='agenda'>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="0"> SEG </li>
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="1">Manhã</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="2">Tarde</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="3">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="4"> TER </li>
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="5">Manhã</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="6">Tarde</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="7">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="8"> QUA </li>
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="9">Manhã</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="10">Tarde</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="11">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="12"> QUI </li>
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="13">Manhã</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="14">Tarde</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="15">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="16"> SEX </li>
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="17">Manhã</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="18">Tarde</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="19">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="20"> SAB </li>
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="21">Manhã</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="22">Tarde</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="23">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="24"> DOM </li>
              <li class="list-group-item li-agenda label"> <input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="25">Manhã</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="26">Tarde</li>
              <li class="list-group-item li-agenda label"><input class="form-check-input me-1 input-agenda"
                  type="checkbox" value="27">Noite</li>
            </ul>
          </div>

        </div>

      </div>

    </div>

    <button class="btn btn-lg disabled button-signUp-cadastrar" tabindex="-1" role="button"
      aria-disabled="true" type="submit">Cadastrar</button>


</div>


</form>



{{#if errorMessage}}
<p class="error">{{errorMessage}} </p>
{{/if}}





</div>