<div class="formulario" id="form1-signUp">
  <h2>Signup</h2>

  {{!-- formulário 0 --}}
  <form action="/signup" method="POST">

    <label for="input-completeName">Nome completo</label>
    <input type="text" id="input-completeName" name="completeName" placeholder="Insira seu Nome completo" />

    <label for="input-email">E-mail</label>
    <input type="text" id="input-email" name="email" placeholder="Insira seu e-mail" />

    <label for="input-password">Senha</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <label for="input-password">Confirme a senha</label>
    <input type="password" name="password" id="input-password" placeholder="********" />

    <label for="input-telefone">Telefone</label>
    <input type="text" id="input-telefone" name="telefone" placeholder="Telefone" />
  </form>


  <div class="subtitulo-signUp">
    <h3 class="h3-signUp"> O que você irá fazer na FreeStudents? </h3>
    <h4 class="h4-signUp"> Lembrando que você pode selecionar os dois! ;)</h4>
  </div>
  <div class="checkbox">
    <div>

      <input type="checkbox" id="queroAprender" name="queroAprender">
      <label for="queroAprender">Quero Aprender</label>
    </div>

    <div>
      <input type="checkbox" id="queroEnsinar" name="QueroEnsinar">
      <label for="queroEnsinar">Quero Ensinar</label>
    </div>

  </div>


  {{!--formulário 1 "Quero aprender" --}}

  <h3 class="h3-signUp"> Quero Aprender! </h3>
  <div class="checkbox-select">
    <div class="custom-select  subtitulo-signUp " style="width:200px;">
      <select>
        <option value="0">Selecione a categoria:</option>
        {{#each category}}
        <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>
    </div>
  </div>
  {{!-- Precisa ser variável conforme a seleção de cima --}}
  <div class="custom-select subtitulo-signUp" style="width:200px;">
    
    <select>
<option value="0">Selecione o conteúdo:</option>
      {{#each content}}
      <option value="{{this.id}}">{{this.name}}</option>
    {{/each}}
    </select>
  </div>


  {{!-- <button type="submit">Criar conta</button> --}}


  {{#if errorMessage}}
  <p class="error">{{errorMessage}} </p>
  {{/if}}

</div>