<div class='menu-edit'>
  <a style="text-align: center;" href="/user/{{data.userToEdit._id}}"><button
      class="btn btn-lg disabled button-signUp">Voltar</button></a>
  <h2 class='h2-edit-page'>Pagina de Ediçao do Usuario</h2>
      <img class="logo" style="border-color: black; solid;  1px;"  src="/images/logo.png" width="auto" height="80px;" />

</div>

{{!-- Alteração de perfil--}}

<div class="formulario-edit">
  <form id="signup-form-edit" action="/edituser/{{data.userToEdit._id}}" enctype="multipart/form-data" method="POST">
    <label for="input-completeName" class="required label">Nome completo</label>
    <input class="form-control" type="text" id="input-completeName" name="name" value="{{data.userToEdit.name}}" />
    <label for="input-email">E-mail</label>
    <input class="form-control" type="text" id="input-email" name="email" value="{{data.userToEdit.email}}" readonly="readonly"/>
    <label for="input-password">Mudar Senha</label>
    <input class="form-control" type="password" name="password" id="input-password"/>
    <label for="input-telefone">Telefone</label>
    <input class="form-control" type="text" id="input-telefone" name="phone" value="{{data.userToEdit.phone}}" />
    <label for="input-city">Cidade</label>
    <input class="form-control" type="text" id="input-city" name="city" value={{data.userToEdit.city}} />
    <h4 class="h4-signUp">Selecione seu estado</h4>
    <select class="form-control" name="state">
      <option value="0">Selecione</option>
      <option value="1">AC</option>
      <option value="2">AL</option>
      <option value="3">AP</option>
      <option value="4">AM</option>
      <option value="5">BA</option>
      <option value="6">CE</option>
      <option value="7">ES</option>
      <option value="8">GO</option>
      <option value="9">MA</option>
      <option value="10">MT</option>
      <option value="11">MS</option>
      <option value="12">MG</option>
      <option value="13">PA</option>
      <option value="14">PB</option>
      <option value="15">PR</option>
      <option value="16">PE</option>
      <option value="17">PI</option>
      <option value="18">RJ</option>
      <option value="19">RN</option>
      <option value="20">RS</option>
      <option value="21">RO</option>
      <option value="22">RR</option>
      <option value="23">SC</option>
      <option value="24">SP</option>
      <option value="25">SE</option>
      <option value="26">TO</option>
      <option value="26">DF</option>
    </select>
    <label style='margin-top: 10px;' for="input-city">Data de nascimento</label>
    <input class="form-control" type="date" id="input-birthdate" name="birthdate"
      value="{{data.userToEdit.birthdate}}" />
    <label for="input-skypeUsername">Skype Username</label>
    <input class="form-control" type="text" id="input-skype" name="skype_username"
      value="{{data.userToEdit.skype_username}}" />
    <label for="input-zoomUsername">Zoom Username</label>
    <input class="form-control" type="text" id="input-zoom" name="zoom_username"
      value="{{data.userToEdit.zoom_username}}" />
    <label for="input-teamsUsername">Teams Username</label>
    <input class="form-control" type="text" id="input-teams" name="teams_username"
      value="{{data.userToEdit.teams_username}}" />
    <label for="input-otherp">Outras plataformas</label>
    <input class="form-control" type="text" id="input-otherp" name="other_com" value="{{data.userToEdit.other_com}}" />
    <label for="input-user-other">Username da plataforma</label>
    <input class="form-control" type="text" id="input-user-other" name="other_com_username"
      value="{{data.userToEdit.other_com_username}}" />
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Fale um pouco sobre você:</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" name="about" rows="3">{{data.userToEdit.about}}</textarea>
    </div>
    <h4 class="h4-signUp">Altere sua foto aqui</h4>
    <label for="image-input"></label>
    <input class="form-control" type="file" name="imageUrl" id="image-input" />
        <input type="text" name="existingImage" hidden id="" value="{{data.userToEdit.imageUrl}}">
    <button type="submit" class="btn btn-lg disabled button-signUp button-alterar">ALTERAR</button>
  </form>
</div>

<div class="formulario-edit">
  <h3 class='h3-edit-page'> Seus Cursos </h3>
  <section class="section-info-edit">
    {{#each this.my_courses}}
    <p> {{this.name}} - {{this.description}} </p>
    {{/each}}
  </section>
</div>

<div class="formulario-edit">
  <h3 class='h3-edit-page'> Seus Cursos Ministrados </h3>
  <section class="section-info-edit">
    {{#each data.userToEdit.my_courses}}
    <h5> {{this.name}} </h5>
    <p> {{this.description}} </p>
    <a class='button-deletar-link' href="/courses/{{this._id}}/{{this.user}}/delete"><button type="button"
        class="btn btn-lg disabled button-deletar">DELETAR</button></a>
    {{/each}}
</div>
</section>
<div class="checkbox">
  <h3 class='h3-edit-page'> Adicionar mais cursos </h3>
  <button onclick="addCourse()" class="btn btn-lg  disabled button-signUp button-adicionar-curso" tabindex="-1"
    role="button" aria-disabled="true" type="button">Adicionar </button>
  <div class="formulario-edit-add-course" id="formulario-edit-add-course">
    <div id='formAddCourse' style="display: none">
      <form action="/add_course/{{data.userToEdit._id}}/" method="POST">
        <select name="teacher_category" class="custom-select subtitulo-signUp">
          <option value="0" class="required">Selecione a categoria:</option>
          {{#each data.foundCategories}}
          <option value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <select name="teacher_content" class="custom-select subtitulo-signUp">
          <option value="0">Selecione o conteúdo:</option>
          {{#each data.foundCategories}}
          <option value="{{this.content.0.content_name}}">{{this.content.0.content_name}}</option>
          {{/each}}
        </select>
        <label for="input-about" class="required label">Título do seu curso </label>
        <input class="form-control" type="text" id="input-about" name="course_name" placeholder="Insira o título aqui"
          aria-label="default input example">
        <div class="mb-3">
          <label for="input-course-description" class="form-label required label">Descreva um pouco sobre o
            curso:</label>
          <textarea class="form-control" id="input-course-description" name="course_description" rows="2"></textarea>
        </div>
        <div class="mb-3">
          <label for="input-classes" class="form-label required label">Número mínimmo de Aulas do Curso:</label>
          <input class="form-control" type="number" min="1" max="5" id="input-classes" name="classes" placeholder=1  onkeydown="return false">
        </div>
        <label for="input-about" class="required label"> Escolha os dias e períodos que você costuma ter disponível: </label>
        <label for="input-about" class="label">Agenda</label>
        <div class="margem-agenda">
          <div class='agenda'>
            <ul class="list-group list-group-horizontal">
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="week_availability" type="checkbox" value="0"> SEG </li>
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="1">Manhã</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="2">Tarde</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="3">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="week_availability" type="checkbox" value="4"> TER </li>
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="5">Manhã</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="6">Tarde</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="7">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="week_availability" type="checkbox" value="8"> QUA </li>
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="9">Manhã</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="10">Tarde</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="11">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="week_availability" type="checkbox" value="12"> QUI </li>
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="13">Manhã</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="14">Tarde</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="15">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="week_availability" type="checkbox" value="16"> SEX </li>
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="17">Manhã</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="18">Tarde</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="19">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="week_availability" type="checkbox" value="20"> SAB </li>
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="21">Manhã</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="22">Tarde</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="23">Noite</li>
            </ul>
            <ul class="list-group list-group-horizontal-sm">
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="week_availability" type="checkbox" value="24"> DOM </li>
              <li class="list-group-item li-agenda-edit label"> <input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="25">Manhã</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="26">Tarde</li>
              <li class="list-group-item li-agenda-edit label"><input class="form-check-input me-1 input-agenda-edit"
                  name="hour_availability" type="checkbox" value="27">Noite</li>
            </ul>
          </div>
        </div>
        <button class="btn btn-lg  disabled button-signUp button-adicionar-curso" type="submit">Adicionar Curso</button>
      </form>
    </div>
  </div>
</div>