<nav class="navbar navbar-expand-lg   navbar-light  main-nav menu-user ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse sub-nav-main" id="navbarNav">
    
    <div class="photo-link"> 
      
      <img id='photo-user' width="auto" height="120px;"   src="{{data.userFounded.imageUrl}}">
      

    </div>
   
     <ul class="navbar-nav link-list">

      <li class="nav-item active links-main">
        <a class="nav-link " href="/user/{{data.userFounded._id}}/edit">Meu Perfil</a>
       
      </li>
      <li class="nav-item links-main">
        <a class="nav-link" href="#meuscursos">Meus Cursos</a>
      </li>
      <li class="nav-item links-main">
        <a class="nav-link" href="#maiscursos">Buscar +Cursos</a>
      </li>
      <li class="nav-item links-main">
        <a class="nav-link" href="/logout">LogOut</a>
      </li>
  </ul>
  <h5> FreeStudents </h5>
  </div>

 
</nav>

<div class='section-main' id="top-section">
  <div>
    <h4 class='h4-main'> Olá, {{data.userFounded.name}} </h4>
  </div>
  <h4 class='h4-main'>NOTIFICAÇÕES</h4>
  <section class="section-info" id="notificacoes">
    <ul>
      {{#each data.messagesFounded}}
      <li>
        De: {{this.from.name}} -
        {{this.message}}
      </li>
      {{/each}}
    </ul>
  </section>
  <button class="btn btn-lg  disabled button-main"> <a class="link-main" href="/messages/{{data.userFounded._id}}/">Ver
      todas as mensagens </a> </button>
  <h4 class='h4-main'>SOLICITAÇÕES DE AULAS</h4>
  {{#each data.schedule_notes}}

  <li class="li-main">
    <section class="section-info" id="notificacoes">
      <h5 style="font-weight: bold;"> {{this.course.name}} - Solicitado por: {{this.student.name}} </h5>

      <p class='dates-hours'> Dias e horários selecionados: <br>
        {{#each ../data.formatedDates}}
        {{#if this.fDate}}
        <input type="datetime" style="text-align:center;" value="{{this.fDate}}">
        {{/if}}
        {{/each}}
      </p>

      <div id="button-students-group">
        <form action="/aceitar/{{this._id}}/{{this.teacher._id}}" method="POST">
          <button class="btn btn-lg  disabled button-main" type="submit"> Aceitar </button>
        </form>
        <form action="/recusar/{{this._id}}/{{this.teacher._id}}" method="POST">
          <button class="btn btn-lg  disabled button-main" type="submit">Recusar</button>
        </form>
      </div>
  </li>
  {{/each}}
  </section>

</div>

<div class='section-main' id="meuscursos">
  <h4 class='h4-main'>MEUS CURSOS REGISTRADOS</h4>
  <section class="section-info-cursos-registrados">
    {{#each data.scheduleFounded}}
    <div id='curso-registrado'>
      <h5 style="font-weight: bold;"> Curso: {{this.course.name}} </h5>
      <p> Descrição: {{this.course.description}}</p>
      <p> Professor: {{this.teacher.name}} </p>
      <p> Aluno: {{this.student.name}} </p>
      <p class='dates-hours'> Horários: <br>

        {{#each ../data.formatedStudentDates}}
        {{#if this.fDate}}
        <input type="datetime" style="text-align:center;" value="{{this.fDate}}">
        {{/if}}
        {{/each}}
      </p>

      <br>Status: {{this.status}}
      <p> Aulas completadas: {{this.classes_completed}} </p>
      <li class="li-main" style="margin-bottom: 20px;">
        <a href="/courses-details/{{this.course._id}}"><button class="btn btn-lg  disabled button-main">Mais Detalhes
          </button></a>
      </li>
      {{/each}}
    </div>
  </section>
</div>

<div class='section-main'>
  <h4 class='h4-main'>BUSCAR MAIS CURSOS</h4>
  <section class="section-info" id="maiscursos">
    <ul id='buscar-cursos-list'>
      {{#each data.searchFounded}}
      <li id='buscar-cursos'>
        <div>
          <img width="15%" src="/images/lecture.jpg">
          <P> {{this.name}} </P> - Categoria: {{this.category.name}}
          <br> Professor: {{this.user.name}}
        </div>
        <a class="link-main" href="/courses-details/{{this._id}}"><button id='button-saber-mais'
            class="btn btn-lg  disabled button-main" type="submit"> Saber Mais</button></a>
      </li>
      {{/each}}
    </ul>
    <div id='botao-ver-todos-cursos'>
      <button class="btn btn-lg  disabled button-main" type="submit"><a class="link-main" href="/courses-search/">Ver
          todos cursos</a></button>
    </div>
  </section>
</div>