
<nav class="navbar navbar-expand-lg main-nav">
  <a class="navbar-brand" href="#"> <img width="25%" src="https://http2.mlstatic.com/D_NQ_NP_649193-MLB29644269390_032019-O.webp"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/user/{{data.userFounded._id}}/edit">Meu Perfil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#meuscursos">Meus Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#maiscursos">Buscar +Cursos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">LogOut</a>
      </li>
    </ul>
  </div>
</nav>


<section id="info">
Bem Vindo de Volta, {{data.userFounded.name}}
</section>

<p>

<section class="notifications" id="notificacoes">
    <B>NOTIFICAÇÒES:</B>
    <ul>
{{#each data.messagesFounded}}
<li>
{{this.message}}
</li>
{{/each}}
</ul>
</section>

<p>

<section class="mycourses" id="meuscursos">
    <B>MEUS CURSOS REGISTRADOS:</B>
    {{#each data.scheduleFounded}}
Curso: {{this.course.name}}
<br>
Descrição: {{this.course.description}}
<br>
Professor: {{this.teacher.name}}  / Aluno: {{this.student.name}}
<br>
Horários:
{{this.schedule_dates}}
<br> Classe COMMPLETADAS: 
{{this.classes_completed}}
<br>
{{/each}}
</section>

<p>

<section class="morecourses" id="maiscursos">
<B>BUSCAR MAIS CURSOS:</B>
<ul>
{{#each data.searchFounded}}
<li>{{this.name}}<a href="/courses-details/{{this._id}}">Saber Mais</a></li>
{{/each}}
</ul>   
<br>
<a href="/courses-search/">Ver todos cursos</a>

</section>
