
<h3 style='margin-botton:1vw; margin-top:2vw; margin-left:2vw;'> PAINEL DE MENSAGENS</h3> 
  <br>
 {{#each data.notAnsweredMsg}}
  {{#if this}}
  <h4><b> De: {{from.name}} </b></h4>
  <h3>Mensagem: {{message}} </h3>
  <p>      
    <form class="form-msg" action="/sendmessage/{{this.from._id}}" method="POST">
        <label for="mensagem-input" class="form-label"> <h5>Responder mensagem:</h5></label>
        <textarea class="form-control" name="mensagem" id="mensagem-input" rows="3"></textarea>
        <input type="hidden" name="idMsg" value="{{this._id}}">
    </div>
   <button type="submit" class="btn btn-lg disabled button-signUp button-escrever-se">ENVIAR MENSAGEM</button>
   </form>
   <br>
 {{/if}}
 <br>
{{/each}} 
<P>

  <div class="morecourses">
<h3> Mensagens Antigas jรก respondidas: </h3>

<div class="p-mainPage">
 {{#each data.userMsg}}
  {{#if this}}
  <b> De: {{from.name}} </b>  - 
  Mensagem: {{message}} 
  <p>     
     {{/if}}
 <br>
{{/each}} 
</div>
</div>
 {{!-- <a class='a-link-details button-retornar' href="/user/{{data.userMsg.0.from._id}}"> <button class="btn btn-lg disabled button-signUp button-escrever-se">Retornar </button></a> --}}


